/* Body */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Fredoka One', sans-serif;
}

#body {
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  position: relative;
  width: 100%;
  height: 100vh;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 1.9rem 2.8rem;
}

input[type='text'] {
  width: 18rem;
  height: 100%;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 0 0.3rem 4.5rem;
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.submit-btn {
  position: absolute;
  top: 27%;
  left: 40%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
}

input[type='text']::placeholder {
  color: #f3f3f3;
}

.degrees {
  background-color: #00000091;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 2rem;
  border: none;
  padding: 0.3rem 0.8rem;
}

.type {
  display: flex;
  align-items: center;
  justify-content: center;
}