/* Body */

:root {
  --color1: #f3f3f3;
  --color2: #ffffff33;
  --color3: #00000000;
  --color4: #00000091;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Fredoka One', sans-serif;
}

h1 {
  color: var(--color1);
  text-align: center;
  padding: 2rem 0;
}

#body {
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  position: relative;
  width: 100%;
  height: 100vh;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  position: relative;
  margin: 1.9rem 2.8rem;
}

.submit-btn {
  position: absolute;
  top: 27%;
  left: 42%;
  background-color: var(--color3);
  border: none;
  outline: none;
  cursor: pointer;
}

.fa-search {
  color: var(--color1);
  font-size: 1.2rem;
}

input[type='text'] {
  width: 18rem;
  height: 100%;
  border: none;
  outline: none;
  background: var(--color2);
  padding: 0.3rem 4.9rem;
  color: var(--color1);
  font-size: 1.6rem;
  border-radius: 0.5rem;
}

input[type='text']::placeholder {
  color: var(--color1);
}

#degrees {
  background-color: var(--color4);
  color: var(--color1);
  font-size: 2rem;
  font-weight: bold;
  border-radius: 2rem;
  border: none;
  margin: 0.5rem 0;
  padding: 0.3rem 0.8rem;
}

#content {
  flex-direction: column;
  position: absolute;
  top: 33%;
  width: 100%;
  color: var(--color1);
}

.city-name {
  margin-top: 0;
  padding-top: 3rem;
}

.temp-container {
  font-size: 1.1rem;
  border-radius: 0.5rem;
  margin: 0.3rem;
  text-align: center;
  width: 10rem;
  padding: 0.5rem;
  font-weight: bold;
  background-color: var(--color4);
}
